<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-touch-icon-152x152.png">
        <title>Blotto game</title>
        <meta name="description" content="Colonel Blotto game">
        <link rel="manifest" href="manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta property="og:image"        content="https://puding.gitlab.io/blotto/img/og-default.png">
        <meta property="og:image:width"  content="279">
        <meta property="og:image:height" content="279">
        <meta property="og:title"        content="Blotto game">
        <meta property="og:description"  content="Colonel Blotto game">
        <meta property="og:url"          content="https://puding.gitlab.io/blotto">
    </head>
    <body>
        <noscript>
            <strong>We're sorry but blotto doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
