<template>
    <div class="mt-5">
        <h1 class="mb-5">Blotto Admin</h1>
        V pamäti je uložených {{ storeLength }} záznamov.
        <div>
            <b-button variant="success" class="mt-3" @click="saveData">Uložiť dáta</b-button>
        </div>
        <div>
            <b-button variant="danger" class="mt-3" @click="deleteDataModal">Vymazať dáta</b-button>
        </div>
    </div>
</template>

<script>
import constants from '../constants.js'

export default {
    name: 'Admin',
    data: function() {
        return {}
    },
    computed: {
        storeLength() {
            let store = localStorage.getItem(constants.localStorageKey)
            if (store === null) {
                return 0
            }
            return JSON.parse(store).length
        },
    },
    methods: {
        saveData() {
            let a = document.createElement('a')
            var file = new Blob([localStorage.getItem(constants.localStorageKey)], {
                type: 'application/json',
            })
            a.href = URL.createObjectURL(file)
            a.download = new Date().toJSON() + '.json'
            a.click()
        },
        deleteDataModal() {
            this.$bvModal
                .msgBoxConfirm('Naozaj zmazať všetky dáta', {
                    title: 'Zmazať dáta',
                    okVariant: 'danger',
                    okTitle: 'Zmazať',
                    cancelTitle: 'Zrušiť',
                    centered: true,
                })
                .then(answer => {
                    if (answer) {
                        localStorage.removeItem(constants.localStorageKey)
                        location.reload()
                    }
                })
                .catch(error => {
                    console.log(error)
                })
        },
    },
}
</script>

<style scoped></style>
