<template>
    <div>
        <b-tabs class="mt-3" align="center">
            <b-tab title="Súťaž" active>
                <BetEntry :armies="competitionArmies" />
                <b-form inline class="justify-content-center d-flex flex-nowrap submit-form">
                    <b-button
                        variant="secondary"
                        size="lg"
                        class="h-form-separator"
                        @click="competitionReset()"
                        >Reštart</b-button
                    >
                    <b-input
                        v-model="competitionEmail"
                        placeholder="E-mail"
                        size="lg"
                        class="h-form-separator"
                    ></b-input>
                    <b-button
                        variant="primary"
                        size="lg"
                        @click="competitionSubmit()"
                        :disabled="competitionSubmitDisabled"
                        >Vyhodnotiť</b-button
                    >
                </b-form>
            </b-tab>

            <b-tab title="Duel">
                <b-tabs small pills class="mt-3" align="center">
                    <b-tab
                        v-for="player of 2"
                        :key="player"
                        :active="player === 1"
                        :title="player + '. hráč'"
                    >
                        <BetEntry :armies="duelArmiesList[player - 1]" />
                        <b-form
                            inline
                            class="justify-content-center d-flex flex-nowrap submit-form"
                        >
                            <b-button
                                variant="secondary"
                                size="lg"
                                class="h-form-separator"
                                @click="duelReset()"
                                >Reštart</b-button
                            >
                            <b-button
                                variant="primary"
                                size="lg"
                                @click="duelSubmit()"
                                :disabled="duelSubmitDisabled"
                                >Vyhodnotiť</b-button
                            >
                        </b-form>
                    </b-tab>
                </b-tabs>
            </b-tab>
        </b-tabs>

        <b-modal
            id="competition-result-modal"
            title="Vyhodnotenie"
            ok-only
            ok-title="Späť"
            ok-variant="outline-secondary"
            centered
        >
            <Result
                :armies="competitionArmies"
                :rivals="constants.masters.map(master => master.armies)"
                who="nám"
                class="mb-5"
            />
            <Result
                :armies="competitionArmies"
                :rivals="
                    competitionBets
                        .slice(0, competitionBets.length - 1)
                        .map(master => master.armies)
                "
                who="ostatným"
            />
        </b-modal>
        <b-modal
            id="duel-result-modal"
            title="Vyhodnotenie duelu"
            ok-only
            ok-title="Späť"
            ok-variant="outline-secondary"
            centered
        >
            <div class="text-center">
                <b-table :fields="duelTableFields" :items="duelTableData"></b-table>
                <span class="duel-winner-message">{{ duelWinnerMessage }}</span>
            </div>
        </b-modal>
    </div>
</template>

<script>
import constants from '../constants.js'
import utils from '../utils.js'
import BetEntry from '../components/BetEntry.vue'
import Result from '../components/Result.vue'

export default {
    name: 'Home',
    components: {
        BetEntry,
        Result,
    },
    data: function() {
        return {
            constants,
            utils,
            competitionArmies: Array(constants.battlefields).fill(0),
            competitionEmail: '',
            competitionBets: [],
            duelArmiesList: [
                Array(constants.battlefields).fill(0),
                Array(constants.battlefields).fill(0),
            ],
        }
    },
    computed: {
        competitionSubmitDisabled() {
            return (
                this.competitionArmies.reduce((acc, val) => acc + val, 0) > this.constants.soldiers
            )
        },
        duelSubmitDisabled() {
            return this.duelArmiesList.some(
                list => list.reduce((acc, val) => acc + val, 0) > this.constants.soldiers
            )
        },
        duelTableFields() {
            return [
                {
                    key: 'player1',
                    label: '1. hráč',
                    class: 'text-center',
                },
                {
                    key: 'player2',
                    label: '2. hráč',
                    class: 'text-center',
                },
            ]
        },
        duelTableData() {
            let table = []
            for (let field = 0; field < this.constants.battlefields; field++) {
                let army1 = this.duelArmiesList[0][field]
                let army2 = this.duelArmiesList[1][field]
                table.push({
                    player1: army1,
                    player2: army2,
                    _cellVariants: {
                        player1: this.cellColor(army1, army2),
                        player2: this.cellColor(army2, army1),
                    },
                })
            }
            return table
        },
        duelWinnerMessage() {
            let wins1 = utils.evaluateOneVsOne(this.duelArmiesList[0], this.duelArmiesList[1])
            let wins2 = utils.evaluateOneVsOne(this.duelArmiesList[1], this.duelArmiesList[0])
            if (wins1 > wins2) {
                return 'Vyhral 1. hráč!'
            } else if (wins1 < wins2) {
                return 'Vyhral 2. hráč!'
            }
            return 'Remíza!'
        },
    },
    methods: {
        competitionReset() {
            this.competitionArmies = Array(constants.battlefields).fill(0)
            this.competitionEmail = ''
        },
        competitionSubmit() {
            let newBet = {
                email: this.competitionEmail,
                armies: this.competitionArmies,
            }
            this.competitionBets.push(newBet)
            localStorage.setItem(
                this.constants.localStorageKey,
                JSON.stringify(this.competitionBets)
            )
            this.$bvModal.show('competition-result-modal')
        },
        duelReset() {
            this.duelArmiesList = [
                Array(constants.battlefields).fill(0),
                Array(constants.battlefields).fill(0),
            ]
        },
        duelSubmit() {
            this.$bvModal.show('duel-result-modal')
        },
        cellColor(me, other) {
            if (me < other) {
                return 'danger'
            } else if (me > other) {
                return 'success'
            }
            return 'warning'
        },
    },
    mounted: function() {
        let storedBets = localStorage.getItem(this.constants.localStorageKey)
        if (storedBets !== null) {
            this.competitionBets = JSON.parse(storedBets)
        }
    },
}
</script>

<style scoped>
.duel-winner-message {
    font-size: 2em;
}
</style>
