<template>
    <div class="battlefields-top">
        <div v-for="field of constants.battlefields" :key="field" class="battlefield-row">
            <b-button-group>
                <b-button variant="outline-dark" size="lg" @click="addSoldiers(field - 1, -5)"
                    >-5</b-button
                >
                <b-button variant="outline-dark" size="lg" @click="addSoldiers(field - 1, -1)"
                    >-1</b-button
                >
            </b-button-group>

            <div class="battlefield-soldiers-number">
                {{ armies[field - 1] }}
            </div>

            <b-button-group>
                <b-button variant="outline-dark" size="lg" @click="addSoldiers(field - 1, 1)"
                    >+1</b-button
                >
                <b-button variant="outline-dark" size="lg" @click="addSoldiers(field - 1, 5)"
                    >+5</b-button
                >
            </b-button-group>
        </div>

        <div class="soldiers-left-number" :style="{ color: soldiersLeft < 0 ? 'red' : 'gray' }">
            ({{ soldiersLeft > 0 ? '+' + soldiersLeft : soldiersLeft }})
        </div>
    </div>
</template>

<script>
import constants from '../constants.js'

export default {
    name: 'BetEntry',
    props: {
        armies: Array,
    },
    data: function() {
        return {
            constants,
        }
    },
    computed: {
        soldiersLeft() {
            return this.constants.soldiers - this.armies.reduce((acc, val) => acc + val, 0)
        },
    },
    methods: {
        addSoldiers(battlefield, soldiers) {
            let newValue = Math.min(Math.max(this.armies[battlefield] + soldiers, 0), 100)
            this.$set(this.armies, battlefield, newValue)
        },
    },
}
</script>

<style scoped>
.battlefields-top {
    margin-top: 2em;
}

.battlefield-row {
    margin-top: -3vh;
}

.battlefield-soldiers-number {
    display: inline-block;
    position: relative;
    top: 0.25em;
    width: 2em;
    font-size: 13vw;
}

.soldiers-left-number {
    font-size: 13vw;
}
</style>
