<template>
    <div class="text-center">
        Vyhrali ste <br />
        <span class="result-text">{{ warsWon }} z {{ rivals.length }} {{ percent }}</span
        ><br />
        vojen proti {{ who }}.
    </div>
</template>

<script>
import constants from '../constants.js'
import utils from '../utils.js'

export default {
    name: 'Result',
    props: {
        armies: Array,
        rivals: Array,
        who: String,
    },
    data: function() {
        return {
            constants,
            utils,
        }
    },
    computed: {
        warsWon() {
            return utils.evaluateOneVsMany(this.armies, this.rivals)
        },
        percent() {
            if (this.rivals.length === 0) {
                return ''
            }
            return '(' + ((this.warsWon / this.rivals.length) * 100).toFixed(0) + '%)'
        },
    },
    methods: {},
}
</script>

<style scoped>
.result-text {
    font-size: 50px;
}
</style>
