<template>
    <div id="app">
        <router-view />
    </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

#app {
    font-family: 'Didact Gothic', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 20px;
}

.text-center {
    text-align: center;
}

.h-form-separator {
    margin-right: 10px;
}

.submit-form {
    margin-top: 2em;
}
</style>
